{% extends 'base.html' %}

{% block title %}
{{pet.name}}
{% endblock %}

{% block content %}
<h1>{{pet.name}}</h1>

<a href="/">Back to all pets</a><br/>

{% if pet.photo_url %}
<img src="{{pet.photo_url}}" alt="{{pet.name}}">
{% endif %}

<p><strong>Species:</strong> {{pet.species.capitalize()}}</p>

{% if pet.age %}
<p><strong>Age:</strong> {{pet.age}}</p>
{% endif %}



<h3>Edit this pet</h3>
<form method="POST">
    {{form.hidden_tag()}}
    {% for field in form if field.widget.input_type != 'hidden' %}
        <div class="field">
            {{field.label}}
            {{field}}
            {% for error in field.errors %}
                <span class="error">{{error}}</span>
            {% endfor %}
        </div>
    {% endfor %}
    <button>Edit pet</button>
</form>

{% endblock %}